<title>Title</title>
</head>
<body>

        <div class="container" style="width:95%">
        <center>
        <div class="col-md-1 center-block text-center" style="font-size: xx-large">
        PLAN AND CODE
        </div>
        </center>
        </div>


       <form method='POST' action='.'>{% csrf_token %}
     <label><b>Username</b></label>

       <input name='textfield' type='uname' ><br>
       <label><b>Password</b></label>
       <input name='textfield2' type='psw' ><br><br>
       <input type='submit' value='Submit'>
       </form>



        <form method='POST2' action="{% url 'page2' %}">
        <input type="submit" value="Show Project">
         </form>



</body>
</html>
