<title>Title</title>
</head>
<body>


    <div class="container" style="width:95%">
    <center>
       <div class="col-md-1 center-block text-center" style="font-size: xx-large">
        PLAN AND CODE
      </div>
    </center>
   </div>
	<div class="header">

       <a href="{% url 'plan' %}">Linking</a><br><br><br>

	 <a href="/plan" class="dark" style="cursor: pointer;">Another version of linking</a><br><br>

        <form action="{% url 'plan' %}">
        <input type="submit" value="Projects">
        </form>


   </div>
</body>
</html> 
