
<head>
<title>Title</title>
</head>
<body>
{% block content %}
        <body style="background-color:powderblue;">
        <b> Projects</b><br>

        <textarea rows="10" cols="30">
                {{ show }}
        </textarea> <br>

       <form method = 'POST' action ="{% url 'page2' %}" >{% csrf_token %}
            <input name = 'projeAdd' type ='text'  placeholder="Project Name" />
            <input type = 'submit' value ='Add' >
        </form>


       <form method = 'POST' action ="{% url 'page2' %}" >{% csrf_token %}
            <input name = 'projeDelete' type ='text'  placeholder="Project Name" />
            <input type = 'submit' value ='Delete' >
        </form>

        <br>

<form action="{% url 'page3' %}" >
    <input type="submit" value="Next Page" />

</form>

{% endblock %}
</body>
</html>








